{% extends "layout.html" %}

{% block title %}
    Accepted
{% endblock %}

{% block main %}
<body class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
      <main class="px-3">
        <h1>Application Accepted</h1> 
      <form action="" method="POST"
        <p class="lead">
          <button type="submit" id="home" name="home" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Home</button>
        </p>
      </form>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>Click home to view other applicants.</p>
      </footer>
    </div>
    </form>
{% endblock %}


