{% extends "layout.html" %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('stylesheet', filename='/static/bootstrap.css') }}" />
    {% block title %}
    Index
{% endblock %}

{% block main %}
<style>
    
    .wrapper {
      background-color: bg-light;
      list-style-type: none;
      padding: 0;
      border-radius: 4px;
    }
    .form-row {
      display: flex;
      justify-content: flex-end;
      padding: .5em;
    }
    .form-row > label {
      padding: .5em 1em .5em 0;
      flex: 1;
    }
    .form-row > input {
      flex: 2;
    }
    .form-row > input,
    .form-row > button {
      padding: .5em;
    }
    .form-row > button {
     background: gray;
     color: white;
     border: 0;
    }

</style>
</head>
<body class="">
    <div class="container py-5 kpmg-blue-bg text-center">
        <main>
        {% for message in messages %}
        <form action="/" method="POST" id="form" >
            <div class="text-center">
                <h1>Prospective Customer Information:</h1>
                <br>           
                <div class="container" id="first_div">
                    <div class="row justify-content-center">
                        <div class="col-4">
                        <ul class="wrapper">
                            <h3> Policy Information </h2>
                                <li class="form-row">
                                    <label class=form-check-label" for="policy_id">ID:</label>
                                    <input class="form-control" type="text" id="policy_id" name="policy_id" value={{message['POLICYID']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="policy_name">Name:</label>
                                    <input class="form-control" type="text" id="policy_name" name="policy_name" value={{message['POLICYNAME']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="policy_term">Term:</label>
                                    <input class="form-control" type="text" id="policy_term" name="policy_term" value={{message['POLICYTERM']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class="form-check-label" for="policy_type">Type:</label>
                                    <input class="form-control" type="text" id="policy_type" name="policy_type" value={{message['POLICYTYPE']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="policy_desc">Description:</label>
                                    <input class="form-control" type="text" id="policy_desc" name="policy_desc" value={{message['POLICYDESCRIPTION']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class="form-check-label" for="premiumpayment">Premium:</label>
                                    <input class="form-control" type="text" id="premiumpayment" name="premiumpayment" value= "{{ message['PREMIUMPAYMENT']}} HKD" readonly >
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="premiumstructure">Premium Structure:</label>
                                    <input class="form-control" type="text" id="premiumstructure" name="premiumstructure" value={{message['PREMIUMSTRUCTURE']}} readonly>
                                </li>
                        </ul>
                        </div>
                        <div class="col-4">
                            <ul class="wrapper">
                            <h3> Customer Information </h3>
                            <li class="form-row">
                                    <label class=form-check-label" for="cust_id">Customer ID:</label>
                                    <input class="form-control" type="text" id="cust_id" name="cust_id" value={{message['CUSTOMERID']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="cust_name">Name:</label>
                                    <input class="form-control" type="text" id="cust_name" name="cust_name" value={{message['CUSTOMERNAME']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="gender">Gender:</label>
                                    <input class="form-control" type="text" id="gender" name="gender" value={{message['GENDER']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="dob">Date of birth:</label>
                                    <input class="form-control" type="text" id="dob" name="dob" value={{message['DOB']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="country">Country:</label>
                                    <input class="form-control" type="text" id="country" name="country" value={{message['COUNTRY']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="email">Email:</label>
                                    <input class="form-control" type="text" id="email" name="email" value={{message['EMAIL']}} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="smoking_status">Smoker:</label>
                                    <input class="form-control" type="text" id="smoking_status" name="smoking_status" value={% if message['SMOKING_STATUS'] %} Yes {% else %} No {% endif %} readonly>
                                </li>
                                <li class="form-row">
                                    <label class=form-check-label" for="customer_status">Customer Status:</label>
                                    <input class="form-control" type="text" id="customer_status" name="customer_status" value={{message['CUSTOMER_STATUS']}} readonly>
                                </li>

                        </div>
                        <div class="justify-content-sm-center col-md-8 mb-3">
                            <textarea class="form-control" rows = "3" cols="5"  name = "reason" placeholder="Please explain the reason of the underwriting decision..."></textarea>
                        </div>
                        <br>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <button type="submit" name="Accept" id="Accept" class="btn-lg btn-success" >Accept</button>
                            <button type="submit" name="Decline" id="Decline" class="btn-lg btn-secondary">Decline</button>
                        </div>
                        </ul>
                    </div>
                </div>
              <br>  
            </div>
        </form>
        <hr>
        {% endfor %}
</main>
</body>
</html>
{% endblock %}