<!-- This page renders prospective customers, one at a time, for approval -->
{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<main class="container py-5 text-center"
    <form action="/" method="post"
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Prospective Customer Information:</h1>
            
            <div class="col-lg-6 mx-auto">
                {%for T in TERM %}
                <p>Policy Term: {{ T.POLICYTERM }} </p>
                {% endfor %}

                {%for E in POLICYTYPE %}
                <p> {{ E.POLICYTYPE }} </p>
                {% endfor %}

                {%for N in POLICYNAME %}
                <p> {{ N.POLICYNAME }} </p>
                {% endfor %}

                {%for DE in POLICYDESCRIPTION %}
                <p> {{ DE.POLICYDESCRIPTION }} </p>
                {% endfor %}

                {%for CUR in CURRENCY %}
                <p> {{ CUR.POLICYCURRENCY }} </p>
                {% endfor %}

                {%for PAY in PREMIUMPAYMENT %}
                <p> {{ PAY.PREMIUMPAYMENT }} </p>
                {% endfor %}

                {%for STRUC in PREMIUMSTRUCTURE %}
                <p> {{ STRUC.PREMIUMSTRUCTURE }} </p>
                {% endfor %}

                {%for P in POLICYSTATUS %}
                <p> {{ P.POLICYSTATUS }} </p>
                {% endfor %}

                {%for ID in CUSTOMERID %}
                <p> {{ ID.CUSTOMERID }} </p>
                {% endfor %}

                {%for CNAME in CUSTOMERNAME %}
                <p> {{ CNAME.CUSTOMERNAME }} </p>
                {% endfor %}

                {%for G in GENDER %}
                <p> {{ G.GENDER }} </p>
                {% endfor %}

                {%for d in DOBS%}
                <p> {{ d.DOB }} </p>
                {% endfor %}
                
                {%for CO in COUNTRY%}
                <p> {{ CO.COUNTRY }} </p>
                {% endfor %}
                
                {%for EM in EMAIL%}
                <p> {{ EM.EMAIL }} </p>
                {% endfor %}

                {%for SMT in SMOKING_STATUS%}
                <p> {{ ST.SMOKING_STATUS }} </p>
                {% endfor %}

                {%for CT in CUSTOMER_STATUS%}
                <p> {{ CT.CUSTOMER_STATUS }} </p>
                {% endfor %}
                <form action="" method="POST">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="submit" name="Accept" id="Accept" class="btn btn-primary btn-lg px-4 gap-3" >Accept</button>
                    <button type="submit" name="Decline" id="Decline" class="btn btn-outline-secondary btn-lg px-4">Decline</button>
                </div>
                </form>
            </div>
        </div>
    </form>
</main>
{% endblock %}